* {
	border: solid red 2px;
}

.section1 {
	background-color: darkblue;
}

.section2 {
	background-color: white;
}

.section3 {
	background-color: gray;
}

.left-title, .right-links {
	display: flex;
}

.header {
	display: flex;
	justify-content: space-around;
	background-color: darkblue;
}

body{
	font-family: Roboto, sans-serif;
}